Django==1.5.4
Fabric==1.7.0
South==0.8.2
dj-database-url==0.2.2
dj-static==0.0.5
django-classy-tags==0.4
django-cms==2.4.2
django-debug-toolbar==0.9.4
django-mptt==0.5.2
django-pagination==1.0.7
django-sekizai==0.7
django-sorting==0.1
django-tastypie==0.10.0
django-toolbelt==0.0.1
gunicorn==18.0
html5lib==1.0b3
paramiko==1.11.0
psycopg2==2.5.1
pycrypto==2.6
python-dateutil==2.1
six==1.4.1
static==0.4
wsgiref==0.1.2